/*--------------------------------------------------------------
7. Header
----------------------------------------------------------------*/
.cs_header_contact_list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 25px;
  li {
    display: flex;
    align-items: center;
    gap: 5px;
    i {
      margin-right: 5px;
    }
  }
}

.cs_header_search_form {
  position: absolute;
  width: 280px;
  right: 0;
  top: 100%;
  margin-top: 10px;
  background-color: #fff;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(18, 30, 59, 0.1);
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  .cs_header_search_form_in {
    position: relative;
  }
  .cs_header_search_field {
    width: 100%;
    height: 46px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 5px 15px;
    outline: none;
    &:focus {
      border-color: var(--accent-color);
    }
  }
  .cs_header_submit_btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 46px;
    width: 46px;
    border: none;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    background-color: var(--accent-color);
    color: #fff;
    &:hover {
      background-color: var(--blue-color);
    }
  }
}

.cs_search_wrap {
  position: relative;
}

.cs_site_header {
  position: absolute;
  z-index: 101;
  width: 100%;
  left: 0;
  top: 0px;
  transition: all 0.4s ease;
}

.cs_site_header.cs_style_1 {
  .cs_main_header_in,
  .cs_top_header_in {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }
  .cs_main_header_in {
    height: 100px;
  }
  .cs_top_header_in {
    height: 50px;
  }
  .cs_main_header_right {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 5px 30px;
    @media (max-width: 1365px) {
      gap: 5px 20px;
    }
  }
  .cs_search_toggle {
    height: 35px;
    width: 35px;
    border: 1px solid var(--body-color);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
    &:hover {
      background-color: var(--accent-color);
      border-color: var(--accent-color);
      color: #fff;
    }
  }
  &.cs_type_1 {
    .cs_main_header_in {
      height: 110px;
      @media (max-width: 1365px) {
        height: 80px;
      }
    }
    .cs_main_header_shape {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      height: 110px;
      overflow: hidden;
      @media (max-width: 1365px) {
        height: 80px;
      }
    }
    .cs_main_header {
      z-index: 1;
    }
    &.cs_gescout_sticky {
      background-color: transparent;
    }
    &.cs_gescout_show {
      box-shadow: initial;
    }
    @media (min-width: 1400px) {
      .container {
        max-width: 1500px;
      }
    }
  }
}

.cs_site_header.cs_style_1 {
  &.cs_sticky_active {
    background-color: var(--white);
    box-shadow: 0 10px 10px -10px rgba(33, 43, 53, 0.1);
  }
}

.cs_site_header_full_width {
  .container {
    max-width: 100%;
    padding: 0 100px;
  }
}

.cs_site_header_spacing_150 {
  height: 150px;
}

/* Desktop styles (≥1101px) */
@media screen and (min-width: 1365px) {
  .cs_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 100%;
    line-height: 1.4em;
    font-size: 15px;
    font-weight: 500;

    .cs_nav_list {
      display: flex !important;
      flex-wrap: wrap;
      height: inherit;
      list-style-type: none;

      > li {
        margin-right: 20px;
        height: inherit;

        &:last-child {
          margin-right: 0;
        }

        > a {
          padding: 10px 15px;
          display: inline-flex;
          position: relative;
          height: inherit;
          align-items: center;
          justify-content: center;
        }

        > ul {
          left: 0;
          top: calc(100% + 10px);
          pointer-events: none;
          width: 200px;
        }

        &:hover {
          > ul {
            top: 100%;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
          }
        }
        &.menu-item-has-children {
          > a {
            position: relative;
            &::after {
              content: '';
              display: inline-block;
              height: 6px;
              width: 6px;
              border: 2px solid currentColor;
              transform: rotate(45deg);
              border-left: 0;
              border-top: 0;
              margin-left: 6px;
              position: relative;
              top: -1px;
              border-radius: 0px 0px 2px 0px;
            }
          }
        }
      }

      li:not(.cs_mega_menu) {
        position: relative;
      }

      ul {
        background-color: var(--white);
        position: absolute;
        border-top: 2px solid var(--accent-color);
        box-shadow: 0px 1px 2px 0px rgba(2, 0, 181, 0.1);
        padding: 8px 0;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        display: block !important;
        border-radius: 0 0 5px 5px;
        transition: all 0.3s ease;

        li {
          &:hover {
            ul {
              top: 0px;
            }

            > ul {
              opacity: 1;
              visibility: visible;
              transition: all 0.3s ease;
            }
          }
        }

        a {
          display: block;
          line-height: inherit;
          padding: 8px 15px;
          font-size: 14px;
        }

        ul {
          top: 10px;
          left: 100%;
        }
      }
    }
  }
  .cs_menu_toggle,
  .cs_menu_dropdown_toggle {
    display: none;
  }

  .cs_nav .cs_nav_list {
    .cs_mega_menu {
      position: relative;
    }
    .cs_mega_wrapper {
      width: 1365px !important;
      display: flex !important;
      position: fixed;
      top: 100px !important;
      left: 50%;
      transform: translateX(-50%);
      padding: 5px 15px 10px;
      border-top: 2px solid var(--accent-color);
      border-radius: 0 0 5px 5px;
      
      &.cs_with_thumb {
        display: grid !important;
        grid-gap: 8px;
        grid-template-columns: repeat(6, 1fr);
        padding: 15px 15px 10px 15px;
        img {
          border: 1px solid var(--border-color);
          border-radius: 2px 20px 2px 2px;
          transition: all 0.3s ease;
          width: 100%;
          margin-bottom: 6px;
        }
        a {
          padding: 0;
          display: block;
          text-align: center;
          font-size: 13px;
          line-height: 1.4em;
          font-weight: 500;
          &:hover {
            img {
              border-color: #d5d4d4;
            }
          }
        }
      }

      a {
        padding: 6px 10px;
      }

      > li {
        flex: 1;
        padding: 8px 0;

        ul {
          position: initial;
          border: none;
          padding: 0;
          width: 100%;
          box-shadow: none;
          background-color: transparent;
          a {
            transition: all 0.3s ease;
          }
        }
      }
    }

    .cs_mega_menu {
      &:hover {
        .cs_mega_wrapper {
          li ul {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}

/* Mobile styles (≤1365px) */
@media screen and (max-width: 1365px) {
  .cs_site_header.cs_style_1 {
    .container {
      max-width: 100%;
    }
    
    .cs_main_header_in {
      height: 80px;
    }
    
    .cs_nav {
      display: flex;
    }
  }
  
  .cs_site_header_spacing_150 {
    height: 130px;
  }
  
  .cs_main_header {
    .container {
      max-width: 100%;
    }
  }

  .cs_menu_dropdown_toggle {
    position: absolute;
    height: 40px;
    width: 100%;
    top: 0;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 23px 18px;
    cursor: pointer;
    z-index: 3;

    span {
      display: block;
      position: relative;
      height: 10px;
      width: 10px;
      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 2px;
        width: 10px;
        background-color: currentColor;
        transition: all 0.3s ease;
      }

      &:before {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }

    &.active {
      span {
        &:before {
          transform: translate(-50%, -50%) rotate(0deg);
        }
      }
    }
  }
  
  .menu-item-has-children {
    .menu-item-has-children {
      .cs_menu_dropdown_toggle {
        padding: 20px 18px;
      }
    }
  }
  
  .cs_site_branding {
    position: relative;
    z-index: 101;
    
    .cs_branding_text {
      h2 {
        font-size: 24px;
      }
      p {
        font-size: 8px;
      }
    }
  }
  
  .cs_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    .cs_nav_list {
      position: fixed;
      width: 100vw;
      left: -100vw;
      background-color: #fff;
      color: var(--heading-color);
      padding: 10px 0;
      top: 0;
      overflow: auto;
      min-height: 100vh;
      line-height: 1.4em;
      padding-top: 120px;
      z-index: 100;
      transition: all 0.4s ease;
      
      &.cs_active {
        left: 0vw;
      }

      ul {
        padding-left: 15px;
        display: none;
      }

      a {
        display: block;
        padding: 10px 15px;
        line-height: 16px;
      }
      
      > li {
        > a {
          font-size: 16px;
        }
      }
    }

    .menu-item-has-children {
      position: relative;
    }
  }
  
  .cs_menu_toggle {
    display: inline-block;
    width: 28px;
    height: 24px;
    cursor: pointer;
    // position: absolute;
    // top: 50%;
    margin-right: 15px;
    z-index: 101;
    margin-top: -12px;

    span,
    span:before,
    span:after {
      width: 100%;
      height: 2px;
      background-color: currentColor;
      display: block;
    }

    span {
      margin: 0 auto;
      position: relative;
      top: 11px;
      transition-duration: 0s;
      transition-delay: 0.2s;

      &:before {
        content: '';
        position: absolute;
        margin-top: -8px;
        transition-property: margin, transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0s;
      }

      &:after {
        content: '';
        position: absolute;
        margin-top: 8px;
        transition-property: margin, transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0s;
      }
    }
  }

  .cs_toggle_active {
    span {
      background-color: rgba(0, 0, 0, 0);
      transition-delay: 0.2s;

      &:before {
        margin-top: 0;
        transform: rotate(45deg);
        transition-delay: 0s, 0.2s;
      }

      &:after {
        margin-top: 0;
        transform: rotate(-45deg);
        transition-delay: 0s, 0.2s;
      }
    }
  }

  .cs_has_main_nav {
    display: none;
  }
  
  .cs_nav {
    .cs_nav_list {
      img {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .cs_site_header.cs_style_1 {
    .cs_top_header {
      display: none;
    }
  }
  .cs_site_header_spacing_150 {
    height: 80px;
  }
  
  .cs_site_header {
    .cs_btn.cs_style_1 {
      display: none;
    }
  }
}

/* Sticky header styles */
.cs_sticky_header {
  position: fixed !important;
  width: 100%;
  z-index: 999;
  .cs_top_header_in {
    overflow: hidden;
    transition: all 0.3s ease;
  }
}

.cs_gescout_sticky {
  position: fixed !important;
  top: -110px;
  opacity: 0;
  transition: all 0.4s ease;
  background-color: var(--white);
  
  @media (max-width: 1365px) {
    opacity: 1;
    box-shadow: 0px 1px 2px 0px rgba(2, 0, 181, 0.1);
  }
  
  &.cs_site_header.cs_style_1 {
    .cs_top_header_in {
      height: 0;
    }
  }
  
  &.cs_fixed_sticky {
    top: 0;
    opacity: 1;
    box-shadow: 0px 1px 2px 0px rgba(2, 0, 181, 0.1);
  }
}

.cs_gescout_show {
  top: 0 !important;
  opacity: 1;
  box-shadow: 0px 1px 2px 0px rgba(2, 0, 181, 0.1);
}

/* Branding styles */
.cs_site_branding {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;

  img {
    margin-right: 10px;
    width: 60px;
    height: 50px
  }

  .cs_branding_text {
    h2 {
      font-size: 26px;
      font-weight: bold;
      text-align: center;
      margin-bottom: -5px;
      line-height: 1.2;
    }
    
    p {
      font-size: 8px;
      color: #333;
      margin: 3px 0;
      text-align: center;
      margin-bottom: -3px;
      font-weight: 500;
      line-height: 1.2;
    }
    
    .p-red {
      color: red !important;
    }
    
    .text-main {
      color: var(--blue-color);
    }
    @media (max-width: 400px) {
      display: none;
    }
  }
}

.cs_main_header {
  background-color: white;
  position: relative;
  
  .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
    
    @media (max-width: 767px) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}